tr.sr {
    background-color: #dddddd;
    text-indent: 10px;
    font-size: 0.875em;
}
.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.susy {
    text-decoration: overline;
    text-decoration-style:wavy;
}

table.pmssm {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    align: left;
    padding: 8px;
    width: 100%;
}

tr.pmssm {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
